---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="error-container">
		<div class="error-text">
			404
		</div>
		<div class="error-message">
			whoops! page not found.
		</div>
		<div class="logo-container">
			<svg class="logo rotating" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" width="1024" height="1024" preserveAspectRatio="xMidYMid meet">
				<g transform="matrix(0.58347578,0,0,0.58347578,862.08547,218.80342)">
					<circle class="logo-border" transform="translate(0,22.5)" style="fill: none; stroke-width: 75px;" cx="-600" cy="480" r="840"/>
					<path class="logo-w" d="m -1125,630 285,570 h 120 l 120,-240 120,240 h 120 L -75,630 H -255 L -420,960 -510,780 -390,540 -540,240 h -60 v 240 l 30,60 -30,60 -30,-60 30,-60 V 240 h -60 l -150,300 120,240 -90,180 -165,-330 z"/>
					<path class="logo-a" d="m -1125,570 405,-810 h 240 L -75,570 H -255 L -570,-60 h -60 l -315,630 z"/>
				</g>
			</svg>
		</div>
	</div>
</Layout>
<style>
	.error-container {
		padding-top: 2rem;
		display: grid;
		justify-items: stretch;
		font-family: 'Righteous';
	}
	.error-text {
		justify-self: center;
		font-size: 1.2rem;
		margin-top: 5rem;
	}
	.error-message {
		justify-self: center;
		font-size: 1.75rem;
	}
	.logo-container {
		justify-self: center;
		padding: 1rem;
	}
	.logo {
		height: 10rem;
		width: 10rem;
	}
	.logo-w, .logo-border {
		fill: var(--primary-text-color);
		stroke: var(--primary-text-color);
	}
	.logo-a {
		fill: var(--alt-text-color);
	}
	@media screen and (min-width: 1025px) {
		.logo {
			height: 25rem;
			width: 25rem;
		}
	}

	@-webkit-keyframes rotating /* Safari and Chrome */ {
		from {
			-webkit-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		to {
			-webkit-transform: rotate(360deg);
			-o-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}
	@keyframes rotating {
		from {
			-ms-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		to {
			-ms-transform: rotate(360deg);
			-moz-transform: rotate(360deg);
			-webkit-transform: rotate(360deg);
			-o-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}
	.rotating {
		-webkit-animation: rotating 5s linear infinite;
		-moz-animation: rotating 5s linear infinite;
		-ms-animation: rotating 5s linear infinite;
		-o-animation: rotating 5s linear infinite;
		animation: rotating 5s linear infinite;
	}
</style>