---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div>
		<h2>Home page content.</h2>
		<h2>Home page content.</h2>
		<h2>Home page content.</h2>
		<h2>Home page content.</h2>
		<h2>Home page content.</h2>
		<h2>Home page content.</h2>
		<h2>Home page content.</h2>
		<h2>Home page content.</h2>
		<h2>Home page content.</h2>
		<h2>Home page content.</h2>
		<h2>Home page content.</h2>
		<h2>Home page content.</h2>
		<h2>Home page content.</h2>
		<h2>Home page content.</h2>
		<h2>Home page content.</h2>
		<h2>Home page content.</h2>
		<h2>Home page content.</h2>
		<h2>Home page content.</h2>
	</div>
</Layout>
