---
import SiteHeader from '../components/SiteHeader.astro';
import SiteFooter from '../components/SiteFooter.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/favicon.ico"/>
		<title>Arndtware</title>
	</head>
	<body class="layout">
		<div class="header">
			<SiteHeader />
		</div>
		
		<div class="content">
			<slot />
		</div>
		
		<div class="footer">
			<SiteFooter />
		</div>
	</body>
</html>
<style>
	@font-face {
		font-family: 'Righteous';
		src: url('/fonts/Righteous-Regular.ttf');
	}
	:root {
		--footer-height: 5rem;
		--primary-text-color: rgb(240, 240, 240);
		--alt-text-color: rgb(187, 32, 32);
		/* --site-background-color: rgb(30, 30, 30); */
		--site-background-color: rgb(104, 104, 104);
		--header-background-color: rgba(30, 30, 30, 0.85);
	}
	
	*{
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}

	.layout {
		position: relative;
  		min-height: 100vh;
		background-color: var(--site-background-color);
	}

	.header {
		position: sticky;
		top: 0;
		z-index: 999;
		color: var(--primary-text-color);
	}

	.content {
		padding-bottom: var(--footer-height);
		color: var(--primary-text-color);
		padding-top: 1rem;
	}

	.footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: var(--footer-height);
		color: var(--primary-text-color);
	}
</style>
